<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  {% feed_meta %}
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="https://github.com/zabbal">github.com/zabbal</a></li>
   </ul>
  </footer>
  <script id="dsq-count-scr" src="//zabbal-github-io.disqus.com/count.js" async></script>
  </body>

</html>
